@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

.home-title, .header-title {
    font-family: "Abril Fatface";
    font-size: 3rem !important;
    padding-bottom: 20px !important; 
}

